@import '../../../style.scss';

.todos {
    flex: 6;
    height: 380px;
    position: relative;
    background: #fcfcfc !important;

    @include mobile {
        padding-bottom: 30px;
    }

    @include tablet {
        padding-bottom: 30px;
    }

    .header {
        padding: 20px 20px 10px;
        z-index: 99;
        position: relative;
        
        h4 {
            position: sticky;
            top: 0;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 22px;
            @include mobile {
                font-size: 20px;
            }
        }
        span {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            font-weight: 700;
            padding: 5px 10px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            transition: all ease 0.3s;
            -webkit-transition: all ease 0.3s;
            -moz-transition: all ease 0.3s;
            -ms-transition: all ease 0.3s;
            -o-transition: all ease 0.3s;
            @include mobile {
                font-size: 15px;
                font-weight: 600;
                padding: 3px 7px;
            }

            &:hover {
                background: #01522d;
                color: #fff;
            }
        }
    }

    .content {
        height: 310px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding: 0 20px 20px;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .item {
            padding: 20px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: rgba(210, 251, 164, 0.6);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            position: relative;
            @include mobile {
                padding: 10px;
            }
            @include tablet {
                padding: 15px 10px;
            }

            span {
                font-size: 17px;
                font-weight: 600;
                @include mobile {
                    font-size: 16px;
                }
            }

            small {
                font-weight: 600;
            }
        }
    }
}