@import '../../../style.scss';

.faq {
    padding: 20px;

    .content {
        display: flex;
        gap: 30px;

        @include mobile {
            flex-direction: column;
            gap: 0;
        }
        @include tablet {
            flex-direction: column;
            gap: 0;
        }

        .left {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        .right {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }


        .header {
            background: #01522d;
            color: #fff;
            border-bottom: 1px solid #fff;

            h4 {
                font-size: 18px;
                @include mobile {
                    font-size: 16px;
                }
                @include mobile {
                    font-size: 17px;
                }
            }

            .accordion-icon {
                color: #fff;
                font-size: 20px;
            }
        }

        .details {
            background: rgba(210, 251, 164, 0.8);

            p {
                font-size: 16px;
                font-weight: 500;
                @include mobile {
                    font-size: 15px;
                }
            }
        }
    }
}